@CHARSET "UTF-8";
/*register page layout*/



/*register prompt page layout*/
#register_header{
	background-image:url(../images/register_head_bg.gif);
	background-repeat:repeat-x;
	height:48px;
	border:solid 1px #CCC;
	}
    .register_header_left{
		float:left;
		margin:7px 0px 0px 40px;
		display:inline;
		}
	.register_header_right{
		float:right;
		margin:25px 20px 0px 0px;
		display:inline;
		}
.register_content{
	width:950px;
	margin:15px auto 15px auto;
	}
	.register_top_bg{
		background-image:url(../images/register_top_bg.gif);
		background-repeat:no-repeat;
		height:5px;
		}
	.register_mid_bg{
		border:solid 1px #a3a3a3;
		border-top:0px;
		height:32px;
		}
	   .register_mid_bg li{
		   float:left;
		 }
	   .register_mid_left{
		   background-image:url(../images/register_tag_left.gif);
		   height:32px;
		   width:207px;
		   background-repeat:no-repeat;
		   padding:0px 0px 0px 106px;
		   font-size:14px;
		   color:#501500;
		   font-weight:bold;
		   line-height:35px;
		   }
	 .register_mid_mid{
		   background-image:url(../images/register_tag_mid.gif);
		   height:32px;
		   width:204px;
		   background-repeat:no-repeat;
		   padding:0px 0px 0px 115px;
		   font-size:14px;
		   line-height:35px;
		   }
     .register_mid_right{
		   background-image:url(../images/register_tag_right.gif);
		   height:32px;
		   width:316px;
		   background-repeat:no-repeat;
		   font-size:14px;
		   line-height:35px;
		   text-align:center;
		   }
	.register_top_bg_two_left{
		float:left;
		background-image:url(../images/register_cont.gif);
		width:1px;
		height:406px;
		background-repeat:no-repeat;
		}
	.register_top_bg_two_right{
		float:right;
		background-image:url(../images/register_cont.gif);
		width:1px;
		height:406px;
		background-repeat:no-repeat;
		}
.register_top_bg_mid{
	background-image:url(../images/register_shadow.gif);
	background-repeat:repeat-x;
	}
.register_title_bg{
	background-image:url(../images/register_pic_01.gif);
	background-position:123px 30px;
	background-repeat:no-repeat;
	padding:42px 0px 0px 202px;
	color:#C30;
	}
.register_dotted_bg{
	background-image:url(../images/register_dotted.gif);
	background-repeat:repeat-x;
	height:1px;
	margin:0px 20px 20px 20px;
	}
.register_message{
	float:left;
	}
.register_row{
	clear:both;
	}
.register_row dt{
	float:left;
	width:200px;
	height:30px;
	text-align:right;
	font-size:14px;
	}
.register_row dd{
	float:left;
	margin-right:5px;
	display:inline;
	}
.register_input{
	width:200px;
	height:18px;
	border:solid 1px #999;
	margin:0px 0px 8px 0px;
	}
.registerBtn{
	height:35px;
	margin:10px 0px 10px 200px;
	clear:both;
	}
.register_input_Blur{
	background-color:#fef4d0;
	width:200px;
	height:18px;
	border:solid 1px #999;
	margin:0px 0px 8px 0px;
	}
.register_input_Focus{
	background-color:#f1ffde;
	width:200px;
	height:18px;
	border:solid 1px #999;
	margin:0px 0px 8px 0px;
	}
.register_prompt{
	font-size:12px;
	color:#999;
	}
.register_prompt_error{
	font-size:12px;
	color:#C8180B;
	border:solid 1px #999;
	background-color:#fef4d0;
	padding:0px 5px 0px 5px;
	height:18px;
	}
.register_prompt_ok{
	background-image:url(../images/register_write_ok.gif);
	background-repeat:no-repeat;
	width:15px;
	height:11px;
	margin:5px 0px 0px 5px;
	}
/*login-page layout*/
.login_header_left{
	float:left;
	margin:30px 10px 0px 100px;
	}
.login_header_mid{
	float:left;
	margin:55px 0px 0px 0px;
	}
.login_header_right{
	float:right;
	margin:50px 60px 0px 0px;
	}
.login_main_left{
	float:left;
	}
	.login_main_left img{
		float:left;
		border:0px;
		}
.login_main_end{
	margin:0px 0px 0px 30px;
	width:540px;
	}

.login_green{
	margin:20px 0px 20px 0px;
	float:left;
	width:150px;
	}
   .login_green dt{
	   color:#519403;
	   font-weight:bold;
	}
	.login_green dd{
		color:#666666;
		line-height:25px;
	}
.login_main_dotted{
	float:left;
	background-image:url(../images/shopping_dotted.gif);
	width:1px;
	height:90px;
	margin:20px 15px 20px 15px;
	}
.login_main_mid{
	border:solid 1px #666;
	float:left;
	width:300px;
	padding:10px 5px 10px 5px;
	}
.login_main_right{
	float:left;
	width:74px;
	}
	.login_main_right img{
		border:0px;
		}
.login_content_top{
	background-image:url(../images/login_icon_bg_01.gif);
	background-position:-300px -30px;
	background-repeat:no-repeat;
	padding:10px 0px 0px 35px;
	font-weight:bold;
	font-size:14px;
	color:#900;
	}
.login_content_line{
	background-image:url(../images/login_icon_bg_02.gif);
	background-position:0px -195px;
	background-repeat:repeat-x;
	height:3px;
	margin:0px 0px 30px 0px;
	}
.login_content{
	clear:both;
	margin:10px 0px 0px 0px;
	}
*html .login_content{/*IE6*/
	display:inline;
	}
*+html .login_content{/*IE7*/
	display:inline;
	}
    .login_content dt{
	   font-size:14px;
	   height:30px;
	   text-align:right;
	   width:150px;
	   float:left;
	}
	.login_content dd{
		float:left;
		}
	.login_content_input{
		width:120px;
		height:16px;
		border:solid 1px #999;
		}
		.login_content_input1{
		width:100px;
		height:16px;
		border:solid 1px #999;
		}
   .login_content_input_Focus{
	   background-color:#f1ffde;
	   width:120px;
	   height:16px;
	   border:solid 1px #999;
	}
.login_btn_out{
	background-image:url(../images/login_icon_bg_01.gif);
	background-position:0px -30px;
	background-repeat:no-repeat;
	width:77px;
	height:26px;
	border:0px;
	cursor:pointer;
	}
.login_btn_over{
	background-image:url(../images/login_icon_bg_01.gif);
	background-position:-78px -30px;
	background-repeat:no-repeat;
	width:77px;
	height:26px;
	border:0px;
	cursor:pointer;
	}
.login_content_dotted{
	background-image:url(../images/register_dotted.gif);
	height:1px;
	background-repeat:repeat-x;
	margin:60px 0px 0px 0px;
	overflow:hidden; /*使div的高度为1px*/
	}
.login_content_end_bg{
	background-image:url(../images/login_icon_bg_02.gif);
	background-repeat:repeat-x;
	background-position:0px 0px;
	padding:10px 20px 10px 20px;
	}
	.login_content_end_bg_top{
		clear:both;
		}
	.login_content_bold{
		font-weight:bold;
		color:#333;
		}
	.login_content_end_bg_end{
		clear:both;
		text-align:right;
		padding:10px;
		}
	.login_register_out{
		background-image:url(../images/login_icon_bg_01.gif);
		background-position:0px -3px;
		background-repeat:no-repeat;
		width:144px;
		height:26px;
		border:0px;
		cursor:pointer;
		}
	.login_register_over{
		background-image:url(../images/login_icon_bg_01.gif);
		background-position:-144px -3px;
		background-repeat:no-repeat;
		width:144px;
		height:26px;
		border:0px;
		cursor:pointer;
		}



